button {
    width: 100px;
    font-weight: 500;
    color: $color-font-white;
    background-color: $color-bg-blue;
    padding: .5rem 0;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}