.icon {
    
    &-small {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    &-medium {
    width: 40px;
    height: 40px;
    cursor: pointer;
    }

    &-large {
        width: 60px;
        height: 60px;
        cursor: pointer;
    }
}

.svg-white {
    filter: invert(99%) sepia(9%) saturate(248%) hue-rotate(74deg) brightness(112%) contrast(100%);
}